body {
  background-color: black;
}

h1 {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  color: white;
}

ol {
  color: white;
}

b {
  color: red;
}
